@model OficiosApi.Models.ConfirmAccountViewModel

<p>Hola @Model.FirstName,</p>

@{ var confirmUserUrl = string.Format("{0}/confirmar-correo-electronico?userId={1}&userType={2}&confirmationToken={3}",
       Model.ClientUrl,
       Model.UserId,
       Model.UserType,
       Uri.EscapeDataString(Model.ConfirmationToken)
    );
}

<p>Has click <a href="@confirmUserUrl">aquí</a> para verificar tu cuenta.</p>

<p>--<br>
    TodoOficios</p>
